<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>
   <div class="main"> 
    <div class="main-image">
    <img src="assets/culture.png" alt="homeimage" width= 100%>
    </div>
  </div>
  </body>
</html>





