<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="assets/style.css">
  </head>
  <div class="container">
    <%= render "devise/shared/header" %>
    <body>
      <div class="main"> 
        <div class="main-image">
          <img src="assets/culture.png" alt="homeimage" width= 100%>
        </div>
      </div>
      <footer>
      <%= render "devise/shared/footer" %>
    </footer>
    </body>
  </div>
</html>
 




